* {
    margin: 0;
    padding: 0;
    font-family: 'Circular Std', sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 7fr 1fr;
    grid-template-columns: 1fr 10fr;
    color: white;
}

aside {
    background-color: #121212;
    color: #a4a4a4;
    height: 100%;
}

main {
    background-color: #161616;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
}

footer {
    grid-column: span 2;
    background-color: #212121;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
    padding: 0em 1em;
    padding-top: 2em;
    height: calc(100% - 3em);
    width: calc(100% - 2em);

    li {
        display: flex;
        gap: 1em;
        font-size: 1em;
    }

    li:hover {
        color:white;
        cursor: pointer;
    }
}

#profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    background-image: linear-gradient(to bottom, rgb(53, 67, 85), #161616);

    padding-left: 1.5em;
    min-height: 12rem;
    width: calc(100% - 1.5em);

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 4em;
    }

    p {
        font-size: 0.9em;
        color: #a4a4a4;
    }

    #my-picture {
        min-width: 9em;
        height: 9em;
        overflow: hidden;
        border-radius: 3%;
        flex-wrap: nowrap;
    }
    
    a {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 5em;
        height: 3em;

        background-color: transparent;
        border: none;

        font-size: 0.9em;
        color: #a4a4a4;
    }

    a:hover {
        color: white;
        cursor: pointer;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(83, 83, 83, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(83, 83, 83, 0.8);
}
